<!DOCTYPE html>
<html>
<head>
    <title>Blog App</title>
</head>
<body>
    <main>
    {% block main %}
    {% endblock main %}
    </main>
    <section>
        <ul>
            {% for post in object_list %}
             
            <li> <a href="{% url 'blog_details' post.pk %}"></a>{{ post.title }}</li>
                <a href="{% url 'blog_delete' post.pk %}">Delete</a>
                <a href="{% url 'blog_update' post.pk %}">Update</a>
                <a href="{% url 'blog_details' post.pk %}">Details</a>
              
            {% endfor %}
          </ul>
    </section>
    <br>
    <br>
    <button><a href="{% url 'home' %}" class="first">HOME</a></button>
    <li><a href="{% url 'blog_create' %}">Add Post</a></li>
</body>
</html>